* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;  /*padding and border are included within the width and height,otherwise width or height = width or height + padding or border */
}
body {
    /* font-size: 20px; */
    font-size: calc(8px + 1vw);
    color: whitesmoke;
    background-color: white; 
}
.container {
    display: flex;
    justify-content: center; /* horizontally center */
}
    
.form-container {
    display: flex;
    justify-content: center; /* horizontally center */
    align-items: center;  /* vertically center */
    width: 100%;
    border: 1px solid red;
}
form{
    width: 90%;
}
.container1 {
    width: 30%;;
    padding: 5px;
    margin: 15px;               /*margin properties are used to create space around elements, outside of any defined borders. */
    border-top: 3px solid rgb(116, 100, 100);    
    border-bottom: 3px solid rgb(70, 59, 59); /*border : width   style(dotted,solid,dashed etc)  color */
    background-color: rgb(0, 0, 0);
    box-shadow: 10px 10px 10px  darkgray;
}
.container2 {
    width: 70%;
    /* height: fit-content; */    /* It will make the height according to the no. of new row */
    padding: 5px;
    margin: 15px;               
    border-top: 3px solid rgb(116, 100, 100);    
    border-bottom: 3px solid rgb(70, 59, 59); /*border : width   style(dotted,solid,dashed etc)  color */
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 15px 10px  darkgray inset;
    overflow-x: auto;
}

h2 {
    /* text-shadow: 3px 2px 1px grey; */
    /* font-size: 30px; */
    font-size: calc(16px + 2vw);
    text-align: center;
    text-decoration: underline;
    margin-bottom:3px ;
    background: linear-gradient(to right ,red,blue);
    background-clip: text;
    color: transparent;
}
.input-name{
    padding: 7px;
    position: relative;
    width: 100%;
}

input::placeholder {
    font-size:calc(1px + 1vw) ;
}

.inp-typ1 ,.inp-addr{
    border-radius: 10px;
    height: 30px;
    padding: 5px;
}
#phoneDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2px;
}
#countryCode {
    flex: 1;
    width: 10%;
}

input[type='radio']{
    /* appearance: none; */
    width: 8%;
}

.inp-addr {
    margin: 5px ;
}
.redStar::after{
    content: " *";
    color: red;
    /* font-size:calc(2px + 1vw) ; */
}
.err-msg {
    font-size: calc(2px + 1vw);
    /* font-size: 5px; */
    font-family:sans-serif;
    font-style: italic;
    margin-left: 3%;
    color: red;
}
.password-toggle-icon {
    margin-right: 12px;
    position: absolute;
    top: 72%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer; 
}
  
.password-toggle-icon i {
    font-size: calc(5px + 1vw);
    line-height: 1;
    color: #333;
    /* transition: color 0.3s ease-in-out; */
    /* margin-bottom: 20px; */
}
.eyeAdd {
    color: #333;
    margin-right: 12px;
    position: absolute;
    top: 57%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer; 
} 
.password-toggle-icon i:hover {
    color: #b98888;
}
  
label{
    font-weight: bold;
    padding: 2px;
}
#check {
   margin-left: 25px;
   font-size: calc(3px + 1vw);
}

/* to make each input field in center */

#submit {
    /* font-size: 20px; */
    font-size: calc(2px + 1.5vw);
    height: 35px;
    border-radius: 8px;
    color: white;
    font-weight: bolder;
    background: linear-gradient(45deg,#4f1919,#ff3333);
    margin-bottom: 15px;
    /* border: 1px solid rgb(10, 145, 111); */
    box-shadow: 0px 0px 4px 4px rgb(128, 119, 119);
}
#submit:hover {
    background: linear-gradient(45deg,#ff3333,#4f1919);
    box-shadow: 0px 0px 6px 6px rgb(128, 119, 119);
    transform: scale(1.1);
}
.input-address, .input-name {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#gendr {
    padding: 7px;
}

input {
    border: none;
}

input:hover {
    box-shadow: 0px 0px 20px 3px whitesmoke;
}

table,th,td {
    padding: 5px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
    text-align: center;
    border: 2px solid rgb(180, 155, 155);
    
}
table {
    width: 100%;  /*To take the total width*/

}
tr:nth-child(even) {
    background-color: #b0b8b8;
}

table:hover {
    tr:nth-child(odd) {
        background-color: #b0b8b8;
    }
    tr:nth-child(even) {
        /* background-color: rgb(97, 87, 87); */
        background-color: black;
    }
}


/* Media Queries to have an alternate CSS section right inside your style sheet. */
@media screen and (max-width: 935px) {
    .container {
      flex-direction: column;
    }
    .container1,.container2 {
        width: 100%;
    }
    .container {
        margin-right: 25px;
    }
}


.btnEdit {
    background-color: rgb(44, 212, 44);
    border-radius: 10px;
    color: #464949;
    font-size: calc(3px + 1vw);
    margin: 2px;
    width:80%;
    border: 2px solid rgb(9, 175, 9);
}
.btnEdit:hover {
    background-color: greenyellow;
    transform: scale(1.1);
}
.btnDelete {
    background-color: rgb(243, 65, 42);
    border-radius:10px ;
    color: #464949;
    font-size: calc(1px + 1vw);
    margin: 2px;
    width: 80%;
    border: 2px solid rgb(221, 0, 0)
}
.btnDelete:hover {
    background-color: rgb(240, 140, 34);
    transform: scale(1.1);
}

.errorEffect {
    /* border: 2px solid red; */
    width: 100%;
    box-shadow: 0px 0px 20px 3px red;
}



